body {
    height: 100vw;
    margin: 0;
}

.full_screen {
    min-height: 100vh;
    min-width: 100vw;
}

.title {
    text-align: center;
    color: rgb(0, 0,0);
    font-size: 2vh;
    font-weight: 900;
    margin: 0%;
    text-decoration: underline;
    text-decoration-thickness: 10%;
}

.subtitle {
    text-align: center;
    color: rgb(0, 0,0);
    font-size: 0.5vw;
    font-weight: 900;
    margin: 0%;
}